@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #06141b;
  --second-color: #1d1d1d;
  --white-color: #ffffff;
  --hover-color: #94d7f2;
  --btn-color: #2685bf;
  --link: #235347;
  --global-font-family: 'DM Sans', serif;
}

.animate__animated.animate__bounceInLeft {
  --animate-delay: 0.4s;
}
.animate__animated.animate__fadeInDown {
  --animate-delay: 1.5s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--global-font-family);
  overflow-x: hidden;
  width: 100%;
}
header {
  background: var(--primary-color);
}
a {
  text-decoration: none;
  color: var(--white-color) !important;
}
a:hover {
  color: var(--hover-color);
}
main,
footer {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

/*Navbar*/
.main-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  transition: 0.3s background;
  /* background: transparent; */
}
.main-header .navbar {
  padding: 15px 0;
}
.main-header .navbar-nav > li {
  padding: 0 10px;
}
.main-header .navbar-nav > li > .nav-link {
  padding: 0 5px;
  line-height: 35px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
}
.main-header h2 {
  font-family: 'Grandstander', serif;
}
.text-primary {
  color: var(--btn-color) !important;
}
.dropdown-item {
  color: var(--secondary-color) !important;
}
.contact-us {
  padding: 8px 20px;
  border: 2px solid var(--hover-color);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--hover-color) !important;
  transition: ease all 0.3s;
}
.contact-us:hover {
  color: var(--white-color) !important;
  background: var(--btn-color);
  border: none;
}

@media (max-width: 991px) {
  .main-header .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--second-color);
    z-index: 1;
    width: 100%;
  }
  .main-header .navbar-nav > li > .nav-link {
    line-height: 50px;
  }
  .main-header .navbar-toggler {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 4px 9px;
    outline: none;
    box-shadow: none;
  }
  .main-header .navbar-toggler span {
    width: 25px;
    height: 2px;
    margin: 4px 0;
    background-color: var(--primary-color);
    transition: 0.3s;
  }
  .main-header .navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .main-header .navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
  }
  .main-header .navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}
.dropdown-menu ul {
  list-style: none;
  padding: 0;
}
.dropdown-menu.show {
  display: flex;
}
.nav-link {
  color: var(--white-color) !important;
  text-transform: capitalize;
}
.nav-link:hover {
  color: var(--hover-color) !important;
}
.navbar-toggler {
  background-color: var(--white-color);
}
/*End Navbar*/

/*Hero*/
.hero {
  background-color: var(--primary-color);
  padding-top: 40px;
}
.hero-section {
  color: var(--white-color);
}
.btn-global {
  background-color: var(--btn-color);
  color: var(--white-color);
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.btn-global:hover {
  background-color: var(--hover-color);
  color: var(--white-color);
}
.btn-global:hover i {
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
}

.card-main:hover {
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  cursor: pointer;
}
@media (max-width: 767px) {
  .hero {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}
/*End Hero*/

/*----About us----*/
.about-section {
  background: var(--second-color);
  color: var(--white-color);
}
.btn-learn-more {
  background: transparent;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.btn-learn-more:hover {
  background: var(--btn-color);
}
/*----End About us----*/

/*----PROJECTS----*/
.projects {
  background-color: var(--primary-color);
  cursor: pointer;
}
.projects img {
  opacity: 0.5;
  /* border-radius: 0; */
}
.projects h3 {
  font-weight: bolder;
  color: var(--white-color);
  /* font-family: 'Raleway'; */
}
.projects .card {
  border: 2px solid var(--white-color);
  box-shadow: 0 0 0 0 var(--primary-color);
  display: flex;
}

.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 12px;
  border: 1px solid var(--white-color) !important;
  transition: ease all 0.55s;
  border-radius: 50%;
  margin: 0 4px;
}
.owl-dots .owl-dot.active {
  background: var(--hover-color);
}
/*----End Projects----*/

/*----Clients----*/
.clients img {
  width: 80px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
/*----End Clients----*/

/*REVIEW*/
.client-review {
  background-image: url('../assets/visax.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white-color);
}
@media (max-width: 768px) {
  .client-review .fs-1 {
    font-size: 1.5rem !important;
  }
}
.carousel-inner {
  height: auto;
}
/* .carousel-item q {
  font-family: 'Raleway';
} */

/*MEET OUR TEAM*/
.team {
  padding: 50px 0 30px;
  text-align: center;
}
.team h6 {
  margin: 20px 0 10px;
  color: #4c4c4c;
}
.team b {
  font-size: 12px;
  text-transform: uppercase;
}
.team p {
  color: #737373;
}
.team img {
  height: 250px;
  width: 250px;
  margin-top: 20px;
  border-radius: 100%;
}

/*------SUBSCRIBE---------*/
.subscribe {
  padding: 80px 20px;
  background-image: url('../assets/newsletter.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white-color);
  text-align: center;
  border-radius: 1rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.subscribe .input-group {
  border-radius: 30px;
  overflow: hidden;
  background: #fff;
  max-width: 500px;
  margin: 10px auto;
  padding: 5px;
}
.subscribe .form-control {
  border: none;
  background: transparent;
  border-radius: 30px;
}
.subscribe .form-control:focus {
  box-shadow: none;
  background: transparent;
}
.subscribe .input-group-text {
  background: var(--btn-color);
  border: none;
  color: var(--white-color);
  border-radius: 30px;
}
.subscribe .input-group-text:hover {
  background: var(--hover-color);
  border: none;
  color: var(--white-color);
  border-radius: 30px;
}
.subscribe .btn:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
/* .subscribe h3 {
  font-family: 'Grandstander', serif;
} */
/*------END SUBSCRIBE---------*/

/*------FOOTER-------*/
.footer {
  margin-top: 50px;
  padding: 20px;
}
.footer-logo {
  font-family: 'Grandstander', serif;
}
.footer h4 {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 25px;
}
.footer p {
  font-size: 14px;
  text-align: justify;
  padding-right: 35px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer .ph-bold {
  font-size: 20px;
}
.footer .col-link p:hover {
  cursor: pointer;
  color: var(--hover-color);
}
.footer hr {
  margin-top: 10px;
  background: var(--white-color);
}
.footer .copyright {
  display: block;
}
.footer span a {
  text-decoration: underline;
  color: var(--link) !important;
  cursor: pointer;
}
