@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Roboto Condensed", sans-serif; */
/* font-family: "Nunito", sans-serif; */
/* font-family: "Source Sans 3", sans-serif; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: "Public Sans", serif;*/

:root {
  --primary-color: #06141b;
  --second-color: #11212d;
  --white-color: #ffffff;
  --hover-color: #8eb69b;
  --btn-color: #235347;
  --global-font-family: 'Public Sans', serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--global-font-family);
}

header,
.offcanvas {
  background: var(--primary-color);
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}
.dropdown-menu.show {
  display: flex;
}

.navbar-brand,
.offcanvas-title {
  color: var(--white-color) !important;
}
.nav-link {
  color: var(--white-color) !important;
  text-transform: capitalize;
}
.nav-link:hover {
  color: var(--hover-color) !important;
}
.navbar-toggler,
.btn-close {
  background-color: var(--white-color);
}

/* p {
  font-size: 16px;
} */
.section-one {
  color: var(--white-color);
}
.btn-global {
  background-color: var(--btn-color);
  color: var(--white-color);
}
.btn-global:hover {
  background-color: var(--hover-color);
  color: var(--white-color);
}

.card-main:hover {
  background-color: var(--hover-color);
  color: var(--white-color);
  cursor: pointer;
}

/*MEET OUR TEAM*/
.team {
  padding: 50px 0 30px;
  text-align: center;
}

.team h6 {
  margin: 20px 0 10px;
  color: #4c4c4c;
}
.team b {
  font-size: 12px;
  text-transform: uppercase;
}
.team p {
  color: #737373;
}
.team img {
  height: 250px;
  width: 250px;
  margin-top: 20px;
}

/*PROJECTS*/
.projects {
  background-color: var(--primary-color);
}
.projects .card {
  border-radius: 0;
}
.projects img {
  opacity: 0.5;
  border-radius: 0;
}
.projects h3 {
  font-weight: bolder;
}
.projects .row .projects-heading {
  font-size: 48px;
  color: var(--white-color);
  font-family: 'Raleway';
}

/*CLIENTS*/
.clients {
  padding: 50px 0 80px;
  text-align: center;
  /* text-align: center; */
}
.clients h2 {
  text-align: left;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 48px;
}
.clients p {
  text-align: left;
  color: #5e5e5e;
}
.clients img {
  width: 100px;
  /* opacity: 1; */
  cursor: pointer;
  margin: 40px 0;
  transition: all 500ms ease-in-out;
}

/*REVIEW*/
.review {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.review .carousel-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  opacity: 0.8;
}

/*FOOTER*/
.footer {
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
}
/* .footer-logo {
  width: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
} */
.footer h4 {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 25px;
}
.footer p {
  font-size: 12px;
  text-align: justify;
  padding-right: 35px;
}
.footer .social {
  padding-right: 20px;
  font-size: 20px;
}
.footer hr {
  margin-top: 10px;
  background: var(--white-color);
}
.footer span {
  text-decoration: underline;
  color: var(--btn-color);
  cursor: pointer;
}
